<div [@openClose]="state" class="home">
    <img class="picture" src="assets/profile.jpg" alt="Portrait"/>
    <div>
        <h4><span class="bold">Docteur Pierre FAUCHERY</span> (RPPS : 10002937661)</h4>
        <h4><span class="bold">Profession : </span>Médecin Généraliste, Expert en dommage corporel</h4>
        <h4><span class="bold">Adresse : </span>27 Avenue du Midi, 87000 Limoges</h4>
        <br/>
        <span class="bold">Tel : </span>05.55.34.26.81
        <br/><br/>
        <span class="bold">Mail : </span>dr.fauchery@free.fr
    </div>
</div>
