.footer-banner {
    display: grid;
    position: static;

    width: 100%;
    height : auto;

    background-color : black;
    color : white;
}

.info {
    display: flex;
}

.footer-div {
    padding: 20px 10px 10px 20px;

    color: white;
    text-decoration: underline;
}

.links {
    display: grid;

    width: 50%;
    height: auto;
    margin-left: 1%;

    text-align: left;
}

a {
    width: max-content;
    color: white;
    margin: 0;
}

a:visited {
    color: white;
}

a:hover {
    color: grey;
}

.copyright {
    margin: 10px 7% 20px 7%;
    padding-top: 20px;

    text-align: center;

    border-top: white 1px solid;
}

.right {
    width: 50%;
    text-align: right;
    margin-right: 1%;
}
