.footer-banner {
    display: grid;
    position: static;

    width: 100%;
    height : auto;

    background-color : black;
    color : white;
}

.info {
    display: flex;
}

.links {
    display: grid;

    width: auto;
    height: auto;
    margin-left: 10px;
    padding: 20px 10px 10px 20px;

    text-align: left;

    color: white;
    text-decoration: underline;
}

a {
    width: max-content;
    color: white;
    margin: 0;
}

a:visited {
    color: white;
}

a:hover {
    color: grey;
}

.copyright {
    margin: 10px 7% 20px 7%;
    padding-top: 20px;

    text-align: center;

    border-top: white 1px solid;
}
