<div [@openClose]="state" class="home">
    <h1>Médecin Expert - Diplôme en réparation du préjudice corporel</h1>
    <div class="center">
        Expertise
        <br/>
        Conseil
        <br/>
        Accompagnement
        <br/>
        <br/>
        ***
        <br/>
        <br/>
        Privé
        <br/>
        Judiciaire
        <br/>
        Recours en assurance
        <br/>
        Arbitrage
    </div>
    <div class="maj">
        <p>L’expertise médicale une étape indispensable du processus d'indemnisation des victimes d'accidents avec dommages corporels :
            elle permet aux victimes de voir leurs intérêts préservés grâce à une reconnaissance de tous les préjudices qu'elles ont subis.</p>
        <p>Mon rôle d’expert est d’évaluer précisément ces préjudices, après un accident de la circulation, un accident du travail, une agression,
            une erreur médicale, un accident de la vie...</p>
        <p>L’expertise va déterminer l’ensemble des préjudices qu’ils soient temporaires ou permanents, économiques ou personnels
             (appelés les préjudices patrimoniaux et les préjudices extra-patrimoniaux).</p>
        <p>Médecin conseil en évaluation du dommage corporel depuis 1994, expert auprès de la cour d'appel de Limoges depuis 2008,
            j’interviens dans un cadre amiable ou judiciaire.</p>
    </div>
</div>
