<div [@openClose]="state" class="home">
    <div *ngIf="homePage=='Accueil'">
        <p>L'expertise médicale est obligatoire pour tout type d'accident.</p>
        <br/><br/>
        <p>Elle est en effet un préalable obligatoire avant toute indemnisation,
            elle est sollicitée dans le cadre de la <span class="bold">réparation du préjudice corporel</span>,
            notamment pour <span class="bold">les accidents de la circulation</span> en France et à m'étranger, les accidents de la vie, les accidents sportifs,
            les aggressions en général, pour évaluer le dommage corporel,
            on ne peut chiffrer le montant d'une indemnisation sans rapport médical et donc sans expertise médicale.</p>
        <br/>
        <p>Elle est aussi un préalable obligatoire avant toute indemnisation dans du <span class="bold">contentieux de la responsabilité médicale</span>,
            cependant, en la matière, elle permet également et en premier lieu de déterminer les éventuelles responsabilités de chacun des intervenants et d 'éclairer le juge,
            s'il s'agit d'une expertise judiciaire, sur la responsabilité encourue et ensuite également sur l'évaluation du dommage corporel.</p>
        <br/>
        <p>Actuellement, l'évaluation d'un dommage corporel s'établit par référence à la <span class="bold">nomenclature Dintilhac</span>.
            Bien que celle-ci ne soit pas obligatoire, elle est edevenue un outil indispensable et utilisée par tous les professionnels : médecins experts, avocats et juges.
            Cette nomenclature fait référence à plus d'une trentaine de postes de préjudices.</p>
        <br/>
        <h2>Expertise médicale : les pièges</h2>
        <p><span class="bold">Quand on a besoin d'une expertise médicale dans un processus d'indemnisation, on ne sait jamais trop par où commencer...</span></p>
        <br/>
        <p>Les avocats ont un rôle déterminant dans votre démarche et peuvent vous faire gagner beaucoup de temps et une indemnisation à la hauteur de votre préjudice.
            Il connaît les rouages de la justice et les juridictions correspondant à votre problème.</p>
        <br/>
        <p>L'objectif : faire de la prise en charge médicale, jurisique et indemnitaire, un seul et même processus avec un seul et même avocat.</p>
        <p><span class="important">Attention :</span> en cas d'accident de la voie publique, il existe souvent un stress post-traumatique,
            il est souvent peu exploré et mal reconnu en expertise. Un expert attentif et formé à l'évaluation de cette problèmatique vous sera utile.</p>
    </div>

    <div *ngIf="homePage=='CV'">
        <div class="head-cv center">
            <h2>Pierre FAUCHERY</h2>
            <br/>
            <h4>Né le 09/07/1960 à Limoges</h4>
        </div>

        <p>1991 : Installation comme Médecin généraliste à Limoges</p>
        <ul>
            <li>Diplôme relatif aux réparations du dommage corporel en 1994</li>
            <li>Expertise médicale privée et d'assurances depuis 1994</li>
            <li>Diplôme universitaire d'évaluation médicale en 2000</li>
            <li>Expert auprès de la cour d'appel de Limoges depuis 2008</li>
            <li>Assesseur au tribunal des pensions militaires 2012/2018</li>
        </ul>

        <h4>Publications</h4>
        <ul>
            <li>La trousse d'Urgence, <span class="italic">Protocoles, 1998, 1999, p. 467-9, éditions Scientifiques L&C</span></li>
            <li>Une somnolence douteuse réf : Le Généraliste FMC 1998 n°1829 p. 27</li>
            <li>EBM au quotidien réf : La revue du Praticien 1999 n°476 p. 1793</li>
            <li>Unaformec : les urgences (dossier pédagogique, 1998) ; Insomnies ; L'anxiété ; Le dossier médical ; Communication et information aux patients.</li>
            <li>Co-auteur "Et si c'était votre patient" tome 1 et 2 UCB, éditions Scientifiques L&C.<span class="italic">(1er prix au 12ème festival de la communication Médicale de Deauville 2001)</span> avec le Docteur Christophe André.</li>
            <li>"Evaluation de la pratique médicale par des pairs" La revue du Praticient, 15, n°549 du 15 Octobre 2001, 1737-41</li>
            <li>2ème congrès international de recherche en Médecine Générale, 31 03 2001 Amélioration par les pairs</li>
            <li>Congrès Unaformec : Urgences Psychiatriques, le 25 11 1999. Formation à la lecture critique, le 21 10 2000. Abord psychanalytique du fumeur et de son thérapeute, le 21 10 2000</li>
        </ul>
        <h5>Groupe lecture HAS</h5>
        <a href="https://www.has-sante.fr/portail/upload/docs/application/pdf/rapport_psychotropes_version_longue_190208.pdf">Rapport psychotropes</a><br/>
        <a href="https://www.has-sante.fr/portail/upload/docs/application/pdf/recommandations_bzd_-_version_finale_2008.pdf">Recommandations bzd</a>
        <p>CLEAP, Cercle Limousin d'évaluation et d'améliorations des pratiques, et divers audit</p>
        <h5>L'article sur la visite de pair est référencé dans d'autres articles, comme celui de JL Gallais :</h5>
        <a href="http://www.sfmg.org/data/generateur/generateur_fiche/1286/fichier_regle-du-jeubdfdf.pdf">Lien</a>
        <h5>Il est également référencé dans le mémoire d'un directeur d'hôpital pour sa formation à l'école nationale de santé publique de Rennes :</h5>
        <a href="http://www.sfmg.org/data/generateur/generateur_fiche/1286/fichier_regle-du-jeubdfdf.pdf">Lien</a>

        <h4>Création et Président de l'association Domus Médica 87, maison médicale de Limoges de 2003 à 2014.</h4>
        <ul>
            <li>Médecin habilité pour l'évaluation des pratiques (ex : EPP).</li>
            <li>Médecin référent au service des urgences du CHRU de Limoges, entre 1995 et 2007.</li>
            <li>Médecin régulateur du centre 15 depuis 1994.</li>
            <li>Membre AREDOC, AMEDOC-CO</li>
        </ul>
    </div>

    <div *ngIf="homePage=='Prestations/Honoraires'" class="center-page">
        <table>
            <thead>
                <tr class="even">
                    <th class="bold" colspan="2">Honoraires année 2020</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd">
                    <td></td>
                    <td></td>
                </tr>
                <tr class="even">
                    <td class="bold">Docteur : FAUCHERY Pierre</td>
                    <td></td>
                </tr>
                <tr class="odd">
                    <td></td>
                    <td></td>
                </tr>
                <tr class="even">
                    <td class="bold center">Assistance à Expertise</td>
                    <td>HT</td>
                </tr>
                <tr class="odd">
                    <td>Etude sur pièces et représentation</td>
                    <td>235/h</td>
                </tr>
                <tr class="even">
                    <td>CCI, amiable, arbitrage, juridiciaires, prud-homme, TGI pôle social</td>
                    <td></td>
                </tr>
                <tr class="odd">
                    <td></td>
                    <td></td>
                </tr>
                <tr class="even">
                    <td>Consultation simple</td>
                    <td>200 HT/h</td>
                </tr>
                <tr class="odd">
                    <td>Consultation Skype ou visio</td>
                    <td>150 HT/h</td>
                </tr>
                <tr class="even">
                    <td>Certificat Tutelle</td>
                    <td>160</td>
                </tr>
                <tr class="odd">
                    <td></td>
                    <td></td>
                </tr>
                <tr class="even">
                    <td class="bold center">Forfait déplacement</td>
                    <td>HT</td>
                </tr>
                <tr class="odd">
                    <td>Limoges</td>
                    <td>0</td>
                </tr>
                <tr class="even">
                    <td>Paris et Province</td>
                    <td>220/h</td>
                </tr>
            </tbody>
        </table>
        <h5>Autre prestation sur devis</h5>
    </div>

    <div *ngIf="homePage=='Contact'">
        <img class="picture" src="assets/profile.jpg" alt="Portrait"/>
    </div>
    <div *ngIf="homePage=='Contact'">
        <h4><span class="bold">Docteur Pierre FAUCHERY</span> (RPPS : 10002937661)</h4>
        <h4><span class="bold">Profession : </span>Médecin Généraliste, Expertise</h4>
        <h4><span class="bold">Adresse : </span>27 Avenue du Midi, 87000 Limoges</h4>
        <br/>
        <span class="bold">Tel : </span>05.55.34.26.81
        <br/><br/>
        <span class="bold">Mail : </span>dr.fauchery@free.fr
    </div>
</div>
