.home {
    display: flex;
    margin: 10px;
}

.title {
    text-align: center;
}

h4 {
    font-weight: normal;
}

.picture {
    z-index: 0;
    margin-right: 50px;
}

.bold {
    font-weight: bold;
}
