h1 {
    text-align: center;
}

.center {
    padding-top: 5%;
    text-align: center;
}

.home {
    display: block;
}

.maj {
    font-size: large;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: justify;
    text-indent: 4%;
}
