<div [@openClose]="state" class="home">
    <div>
        <div class="head-cv center">
            <h2>Pierre FAUCHERY</h2>
            <br/>
            <h4>Né le 09/07/1960 à Limoges</h4>
        </div>

        <p>1991 : Installation comme Médecin généraliste à Limoges</p>
        <ul>
            <li>Diplôme relatif aux réparations du dommage corporel en 1994</li>
            <li>Expertise médicale privée et d'assurances depuis 1994</li>
            <li>Diplôme universitaire d'évaluation médicale en 2000</li>
            <li>Expert auprès de la cour d'appel de Limoges depuis 2008</li>
            <li>Assesseur au tribunal des pensions militaires 2012/2018</li>
        </ul>

        <h4>Publications</h4>
        <ul>
            <li>La trousse d'Urgence, <span class="italic">Protocoles, 1998, 1999, p. 467-9, éditions Scientifiques L&C</span></li>
            <li>Une somnolence douteuse réf : Le Généraliste FMC 1998 n°1829 p. 27</li>
            <li>EBM au quotidien réf : La revue du Praticien 1999 n°476 p. 1793</li>
            <li>Unaformec : les urgences (dossier pédagogique, 1998) ; Insomnies ; L'anxiété ; Le dossier médical ; Communication et information aux patients.</li>
            <li>Co-auteur "Et si c'était votre patient" tome 1 et 2 UCB, éditions Scientifiques L&C.<span class="italic">(1er prix au 12ème festival de la communication Médicale de Deauville 2001)</span> avec le Docteur Christophe André.</li>
            <li>"Evaluation de la pratique médicale par des pairs" La revue du Praticient, 15, n°549 du 15 Octobre 2001, 1737-41</li>
            <li>2ème congrès international de recherche en Médecine Générale, 31 03 2001 Amélioration par les pairs</li>
            <li>Congrès Unaformec : Urgences Psychiatriques, le 25 11 1999. Formation à la lecture critique, le 21 10 2000. Abord psychanalytique du fumeur et de son thérapeute, le 21 10 2000</li>
        </ul>
        <h5>Groupe lecture HAS</h5>
        <a href="https://www.has-sante.fr/portail/upload/docs/application/pdf/rapport_psychotropes_version_longue_190208.pdf">Rapport psychotropes</a><br/>
        <a href="https://www.has-sante.fr/portail/upload/docs/application/pdf/recommandations_bzd_-_version_finale_2008.pdf">Recommandations bzd</a>
        <p>CLEAP, Cercle Limousin d'évaluation et d'améliorations des pratiques, et divers audit</p>
        <h5>L'article sur la visite de pair est référencé dans d'autres articles, comme celui de JL Gallais :</h5>
        <a href="http://www.sfmg.org/data/generateur/generateur_fiche/1286/fichier_regle-du-jeubdfdf.pdf">Lien</a>
        <h5>Il est également référencé dans le mémoire d'un directeur d'hôpital pour sa formation à l'école nationale de santé publique de Rennes :</h5>
        <a href="http://www.sfmg.org/data/generateur/generateur_fiche/1286/fichier_regle-du-jeubdfdf.pdf">Lien</a>

        <h4>Création et Président de l'association Domus Médica 87, maison médicale de Limoges de 2003 à 2014.</h4>
        <ul>
            <li>Médecin habilité pour l'évaluation des pratiques (ex : EPP).</li>
            <li>Médecin référent au service des urgences du CHRU de Limoges, entre 1995 et 2007.</li>
            <li>Médecin régulateur du centre 15 depuis 1994.</li>
            <li>Membre AREDOC, AMEDOC-CO</li>
        </ul>
    </div>
</div>
