.center {
    text-align: center;
}

h4 {
    font-weight: normal;
}

.head-cv {
    margin: 10px;
    border-bottom: black solid 1px;
}

.home {
    display: flex;
}

.italic {
    font-style: italic;
}
