<div [@openClose]="state" class="home">
    <div class="center-page">
        <table>
            <thead>
            <tr class="even">
                <th class="bold" colspan="2">Honoraires année 2020</th>
            </tr>
            </thead>
            <tbody>
            <tr class="odd">
                <td></td>
                <td></td>
            </tr>
            <tr class="even">
                <td class="bold">Docteur : FAUCHERY Pierre</td>
                <td></td>
            </tr>
            <tr class="odd">
                <td></td>
                <td></td>
            </tr>
            <tr class="even">
                <td class="bold center">Assistance à Expertise</td>
                <td>HT</td>
            </tr>
            <tr class="odd">
                <td>Etude sur pièces et représentation</td>
                <td>235/h</td>
            </tr>
            <tr class="even">
                <td>CCI, amiable, arbitrage, juridiciaires, prud-homme, TGI pôle social</td>
                <td></td>
            </tr>
            <tr class="odd">
                <td></td>
                <td></td>
            </tr>
            <tr class="even">
                <td>Consultation simple</td>
                <td>200 HT/h</td>
            </tr>
            <tr class="odd">
                <td>Consultation Skype ou visio</td>
                <td>150 HT/h</td>
            </tr>
            <tr class="even">
                <td>Certificat Tutelle</td>
                <td>160</td>
            </tr>
            <tr class="odd">
                <td></td>
                <td></td>
            </tr>
            <tr class="even">
                <td class="bold center">Forfait déplacement</td>
                <td>HT</td>
            </tr>
            <tr class="odd">
                <td>Limoges</td>
                <td>0</td>
            </tr>
            <tr class="even">
                <td>Paris et Province</td>
                <td>220/h</td>
            </tr>
            </tbody>
        </table>
        <h5>Autre prestation sur devis</h5>
    </div>
</div>
