<div [@openClose]="state" class="home">
    <div class="center-page">
        <table>
            <thead>
            <tr class="even">
                <th class="bold" colspan="2">Honoraires 2020 H.T.*</th>
            </tr>
            <tr class="odd">
                <th class="bold" colspan="2">Assitance Expertise</th>
            </tr>
            <tr class="even">
                <th class="bold" colspan="2">Docteur Pierre FAUCHERY</th>
            </tr>
            </thead>
            <tbody>
            <tr class="odd">
                <td></td>
                <td></td>
            </tr>
            <tr class="even">
                <td>Consultation simple</td>
                <td>200€/H</td>
            </tr>
            <tr class="odd">
                <td>Consultation skype ou visio</td>
                <td>150€/H</td>
            </tr>
            <tr class="even">
                <td></td>
                <td></td>
            </tr>
            <tr class="odd">
                <td class="bold center">Etude sur pièces et accompagnement</td>
                <td>235€/H</td>
            </tr>
            <tr class="even">
                <td>- Commission Conciliation & Indemnisation</td>
                <td></td>
            </tr>
            <tr class="odd">
                <td>- Judiciaire</td>
                <td></td>
            </tr>
            <tr class="even">
                <td>- Amiable</td>
                <td></td>
            </tr>
            <tr class="odd">
                <td>- Prud'hommes</td>
                <td></td>
            </tr>
            <tr class="even">
                <td>- Assurances</td>
                <td></td>
            </tr>
            <tr class="odd">
                <td>- Arbitrage</td>
                <td></td>
            </tr>
            <tr class="even">
                <td></td>
                <td></td>
            </tr>
            <tr class="odd">
                <td class="bold center" colspan="2">Déplacement</td>
            </tr>
            <tr class="even">
                <td>Limoges</td>
                <td>0</td>
            </tr>
            <tr class="odd">
                <td>France</td>
                <td>Sur devis</td>
            </tr>
            </tbody>
        </table>
        <h5>* T.V.A. 20%</h5>
    </div>
</div>
