.header-banner {
    position: fixed;
    height : 100px;
    padding: 0px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
    z-index: 999;
}

.head-button {
    width: 25%;
    height: auto;
    padding: 34px 0px;
    text-align: center;
    cursor: pointer;
}

.head-button:hover {
    background-color: darkslateblue;
    transition: 500ms;
}
